<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.hyperbola.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
              class="org.eclipse.hyperbola.Perspective"
              icon="icons/chat.gif"
              id="org.eclipse.hyperbola.perspective"
              name="Hyperbola Perspective">
      </perspective>
       <perspective
               class="org.eclipse.hyperbola.PerspectiveDebug"
               icon="icons/debug_persp.gif"
               id="org.eclipse.hyperbola.perspectives.debugView"
               name="Debug">
       </perspective>
       <perspective
               class="org.eclipse.hyperbola.PerspectiveFreeMoving"
               icon="icons/groups.gif"
               id="org.eclipse.hyperbola.perspectives.freeMoving"
               name="Free Moving">
      </perspective>
   </extension>
    <extension
            point="org.eclipse.ui.views">
        <view
                class="org.eclipse.hyperbola.ContactsView"
                id="org.eclipse.hyperbola.views.contacts"
                name="Contacts"
                restorable="true">
        </view>
    </extension>
    <extension
            point="org.eclipse.ui.editors">
        <editor
                class="org.eclipse.hyperbola.ChatEditor"
                default="false"
                icon="icons/chat.gif"
                id="org.eclipse.hyperbola.editors.chat"
                name="Chat">
        </editor>
    </extension>
    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                application="org.eclipse.hyperbola.application"
                name="Hyperbola Chat Client">
            <property
                    name="appName"
                    value="Hyperbola Chat Client">
            </property>
            <property
                    name="windowImages"
                    value="icons/alt16.gif,icons/alt32.gif">
            </property>
        </product>
    </extension>

</plugin>
