<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.hyperbola.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
              class="org.eclipse.hyperbola.Perspective"
              name="Hyperbola Perspective"
              id="org.eclipse.hyperbola.perspective">
      </perspective>
   </extension>
    <extension
            point="org.eclipse.ui.views">
        <view
                class="org.eclipse.hyperbola.ContactsView"
                id="org.eclipse.hyperbola.views.contacts"
                name="Contacts"
                restorable="true">
        </view>
    </extension>

</plugin>
